/* $primary_font : titles font*/
/* $secondary_font : texts font*/
/* $primary_color : title color on $primary_background_color*/
/* $secondary_color : title and texts color on $secondary_background_color*/
/* $tertiary_color : most of the text color*/
/* ---------------reset: initialization of the navigator style------------------*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*typography*/
body {
  color: #F9F8FF;
  font-family: "Manrope", sans-serif;
  font-size: 1.1rem;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  color: #A5B4FC;
  font-weight: bolder;
}
@media screen and (max-width: 996px) {
  h1 {
    font-size: 2em;
  }
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #A5B4FC;
  font-weight: bolder;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  color: #A5B4FC;
  font-weight: bolder;
}

/*base*/
body {
  background-color: #1F2039;
}

section {
  padding: 80px;
}
@media screen and (max-width: 996px) {
  section {
    padding: 50px 20px;
  }
}

/*composants*/
a {
  text-decoration: none;
  color: #F9F8FF;
}

.btn__cta {
  display: inline-block;
  background: linear-gradient(#8E86B5, #ACAEED);
  padding: 20px 40px;
  border-radius: 50px;
}
.btn__cta:hover {
  background: linear-gradient(#696484, #8788ba);
}

form .form-name-email input {
  height: 45px;
  border-radius: 5px;
}
form textarea {
  height: 200px;
  border-radius: 5px;
}

/* header style*/
nav {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
}
@media screen and (max-width: 996px) {
  nav {
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }
}
nav a {
  color: #242424;
  margin-left: 30px;
}
@media screen and (max-width: 996px) {
  nav a {
    margin: 15px 0;
  }
}
nav > a:hover {
  opacity: 0.5;
}
nav div a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 996px) {
  nav div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* footer style*/
footer {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
}
@media screen and (max-width: 996px) {
  footer {
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }
}
footer a {
  margin-left: 30px;
}
@media screen and (max-width: 996px) {
  footer a {
    margin: 15px 0;
  }
}
footer a:hover {
  opacity: 0.5;
}
@media screen and (max-width: 996px) {
  footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*style of the fomular*/
form {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
}
form .form-name-email {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 996px) {
  form .form-name-email {
    flex-direction: column;
    gap: 0;
  }
}
form .form-name-email__colonne {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 30px;
}
form .btn__cta {
  margin-top: 45px;
  align-self: center;
  color: inherit;
}
form label {
  margin-bottom: 10px;
}

/* layout grid page portfolio */
.portfolio-photos__grid {
  display: grid;
  grid-template: repeat(2, 300px)/repeat(3, 1fr);
  grid-gap: 15px;
}

/* Style of the home page */
.home-introduction {
  display: flex;
  max-width: 1000px;
  margin: auto;
}
@media screen and (max-width: 996px) {
  .home-introduction {
    flex-direction: column-reverse;
  }
}
.home-introduction div {
  margin-right: 80px;
}
@media screen and (max-width: 996px) {
  .home-introduction div {
    margin: 15px 0;
    text-align: center;
  }
}
.home-introduction h1 {
  margin-bottom: 20px;
}
.home-introduction p {
  margin-bottom: 45px;
}
.home-introduction mark {
  background-color: #1F2039;
  color: #A5B4FC;
}

.home-photos {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.home-photos h2 {
  color: #242424;
  margin-bottom: 65px;
}
@media screen and (max-width: 996px) {
  .home-photos h2 {
    margin-bottom: 30px;
  }
}
.home-photos div {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 996px) {
  .home-photos div {
    flex-direction: column;
    align-self: stretch;
  }
}
.home-photos a {
  margin-top: 65px;
  text-align: center;
}
@media screen and (max-width: 996px) {
  .home-photos a {
    margin-top: 30px;
  }
}
.home-photos img {
  filter: grayscale(0.8);
}
.home-photos img:hover {
  filter: none;
}

.section-contact h2 {
  text-align: center;
  margin-bottom: 50px;
}

/* style of the a-propos page */
.a-propos-introduction {
  max-width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 996px) {
  .a-propos-introduction {
    max-width: 100%;
  }
}
.a-propos-introduction div {
  border-right: 1px solid #A5B4FC;
  border-bottom: 1px solid #A5B4FC;
  padding: 75px;
  margin-top: 20px;
  margin-bottom: 80px;
}
@media screen and (max-width: 996px) {
  .a-propos-introduction div {
    padding: 50px 0px;
    border: none;
    margin-bottom: 10px;
  }
}
.a-propos-introduction h2 {
  color: #F9F8FF;
  margin: 30px 0;
}
@media screen and (max-width: 996px) {
  .a-propos-introduction h2 {
    text-align: center;
  }
}
.a-propos-introduction ul {
  padding-inline-start: 40px;
}
.a-propos-introduction a {
  align-self: center;
  text-align: center;
}
@media screen and (max-width: 996px) {
  .a-propos-introduction P {
    text-align: center;
  }
}

/* Style portfolio */
.portfolio-photos {
  background-color: #FFF;
}
.portfolio-photos h2 {
  color: #242424;
}
.portfolio-photos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio-photos__grid {
  margin-top: 55px;
}
@media screen and (max-width: 996px) {
  .portfolio-photos__grid {
    grid-template-columns: 1fr;
  }
}

.padding-bottom-0 {
  padding-bottom: 0;
}

.lien-conteneur {
  position: relative;
}
.lien-conteneur--hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}
.lien-conteneur:hover .lien-conteneur--hover {
  display: flex;
}

/* Style tarifs*/
.tarifs-header {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 996px) {
  .tarifs-header {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 996px) {
  .tarifs-header a {
    display: none;
  }
}

.tarifs-presentation {
  display: flex;
  gap: 100px;
}
@media screen and (max-width: 996px) {
  .tarifs-presentation {
    flex-direction: column;
    gap: 15px;
  }
}
.tarifs-presentation article {
  border-right: 1px solid #A5B4FC;
  border-bottom: 1px solid #A5B4FC;
  padding: 10px 40px 50px 0;
}
@media screen and (max-width: 996px) {
  .tarifs-presentation article {
    padding: 0;
    border: none;
    text-align: center;
    border-right: 1px #A5B4FC solid;
    border-bottom: 1px #A5B4FC solid;
    margin-bottom: 50px;
  }
}
.tarifs-presentation h2 {
  font-size: 1.3rem;
  margin-bottom: 21px;
}
.tarifs-presentation h3 {
  margin: 35px 0 20px 0;
}

.tarifs-table {
  padding-top: 0;
}
@media screen and (max-width: 996px) {
  .tarifs-table {
    display: none;
  }
}
.tarifs-table h2 {
  margin-bottom: 40px;
}
.tarifs-table table {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
}
.tarifs-table th, .tarifs-table td {
  border: 1px solid #A5B4FC;
  text-align: center;
}
.tarifs-table th {
  padding: 10px 0;
}
.tarifs-table td {
  padding: 60px 0;
}

/*# sourceMappingURL=style.css.map */
