/* general style of the differents pages*/
* {
    margin: 0;
}

section {
    padding: 80px;
}

body {
    background-color: #1F2039;
    color: #F9F8FF;
    font-size: 1em;
    font-family: 'Manrope', sans-serif;
}

header, footer {
    background-color: #FFF;
    padding: 20px 50px;
}

nav, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin-left: 30px;
}

nav a:hover {
    text-decoration: underline;
}

.link-social-media {
    margin-left: 30px;
}

nav > a:hover, footer a:hover {
    opacity: 0.5;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 3.5em;
    color: #A5B4FC;
}

P, a {
    font-size: 1.1em;
}

a {
    text-decoration: none;
    color: #242424;
}

@media screen and (max-width: 996px) {

    section {
        padding: 50px 20px;
    }

    h1 {
        font-size: 2em;
    }

    nav, footer {
        padding: 20px;
        flex-direction: column;
        align-items: center;
    }

    nav div, footer div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav a, .link-social-media, footer > a  {
        margin: 15px 0;
    }
}
