/*Style of Tarifs */

/* Style of section secvices */
.main-head {
    display: flex;
    justify-content: space-between;
}

.main-head a {
    color: #FFF;
    background: linear-gradient(#8E86B5, #ACAEED);
    padding: 20px 40px;
    border-radius: 50px;
}

.main-head a:hover {
    background: linear-gradient(#696484, #8788ba);
}

.services {
    display: flex;
    gap: 5%;
}

article {
    padding: 10px 40px 55px 0;
    border-right: 1px #A5B4FC solid;
    border-bottom: 1px #A5B4FC solid;
}

.services h2 {
    color: #A5B4FC;
    margin-bottom: 20px;
}

.services p {
    margin-bottom: 35px;
}

.services h3 {
    margin-bottom: 20px;
    color: #A5B4FC;
}

h3+p {
    font-size: 1em;
}

/* Style of the section prices-table */
.prices-table h2 {
    color: #A5B4FC;
    font-size: 2.5em;
    margin-bottom: 40px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

td, th {
    border: 1px #A5B4FC solid; 
    text-align: center;
}

th {
    padding: 10px 0;
}

td {
    padding: 60px 0;
}

@media screen and (max-width: 996px) {
    .main-head {
        flex-direction: column;
        align-items: center;
    }

    .main-head a {
        display: none;
    }

    .services {
        flex-direction: column;
        gap: 15px;
    }

    article {
        padding: 0;
        border: none;
        text-align: center;
        border-right: 1px #A5B4FC solid;
        border-bottom: 1px #A5B4FC solid;
        margin-bottom: 50px;
    }

    .prices-table {
        display: none;
    }
}