$primary_background_color: #1F2039;
$secondary_background_color: #FFF;

/* $primary_font : titles font*/
/* $secondary_font : texts font*/
$primary_font: 'Montserrat', sans-serif;
$secondary_font: 'Manrope', sans-serif;

/* $primary_color : title color on $primary_background_color*/
/* $secondary_color : title and texts color on $secondary_background_color*/
/* $tertiary_color : most of the text color*/
$primary_color: #A5B4FC;
$secondary_color: #242424;
$tertiary_color: #F9F8FF; 

$padding_header_and_footer: 20px 50px;

$icone_opacity: 0.5;

$home_width_content: 1000px;

$border: 1px solid $primary_color;
