/* layout grid page portfolio */

.portfolio-photos {
    &__grid{
        display: grid;
        grid-template: repeat(2, 300px) / repeat(3, 1fr);
        grid-gap: 15px;

        @media screen and (max-width: 996px) {
            grid-template-columns: 1fr;
        }
    }
}